:root {
	--unit: 10px;
}

body {
	display: flex;
	padding: 0;
	margin: 0;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	flex-direction: column;
}

#result {
	font-size: 32px;
}

#content {
	--width: 0;
	--height: 0;
	width: calc(var(--unit) * var(--width));
	height: calc(var(--unit) * var(--height));
	display: flex;
	overflow: hidden;
	flex-wrap: wrap;
	background: #333;
}

#content div {
	display: flex;
	margin: 0;
	padding: 0;
	width: var(--unit);
	height: var(--unit);
	box-sizing: border-box;
}

#content div.hide {
	background: transparent;
}

#content div.show {
	background: #fff;
	border: 1px solid #333;
}

#content div.show.left {
	border-left: 1px solid #fff;
}
#content div.show.right {
	border-right: 1px solid #fff;
}
#content div.show.top {
	border-top: 1px solid #fff;
}
#content div.show.bottom {
	border-bottom: 1px solid #fff;
}

#content div.show.head {
	transform: translate(0%, 0%) rotate(calc(90deg * var(--rot)));
	content: '';
	background: url(./eyes.png), #fff;
	background-position: 50% 50%;
	width: var(--unit);
	height: var(--unit);
}
#content div.hide.star {
	background: #cfc;
}